%triangle-arrow {
  margin-left: $triangle-size / 2;
  position: absolute;

  &,
  &:before {
    border: $triangle-size solid transparent;
    height: 0;
    position: absolute;
    width: 1px;
  }

  &:before {
    border-bottom-color: $border-color;
    border-width: $triangle-size;
    content: "";
    left: -$triangle-size;
    z-index: -1;
  }
}

%triangle-arrow-up {
  @extend %triangle-arrow;
  margin-top: -$triangle-size;
  top: 0;

  &,
  &:before {
    border-top: none;
    border-bottom-color: $background-color;
  }

  &:before {
    border-bottom-color: $border-color;
    top: -1px;
  }
}

%triangle-arrow-down {
  @extend %triangle-arrow;
  bottom: 0;
  margin-bottom: -$triangle-size;

  &,
  &:before {
    border-bottom: none;
    border-top-color: $white;
  }

  &:before {
    border-top-color: $border-color;
    bottom: -1px;
  }
}
