$background-color: $white;
$border-color: $gray-light;
$highlighted-color: $gray-lighter;
$muted-color: $gray-light;
$selected-color: $brand-primary;
$text-color: $black;

$border-radius: $border-radius-medium;
$datepicker__margin: 0.4rem;
$day-margin: 0.5rem;
$font-size: 1.4rem;
$item-size: 2.5rem;
$navigation-size: 0.5rem;
$triangle-size: 6px;
